streamlit_app.py

.devcontainer

SoW/
~$oject Proposal.docx
~$harva Vyas BUSA 649 Project Proposal.docx
Timeline/
Proposal/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# Files to ignore
app.py
app_pydeck_v2.py
app_v2.py
Notebooks/longbeach_animal_shelter_complete.csv